body {
  background-color: #a29bfe;
  color: #6c5ce7;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

header {
  padding-left: 2rem;
  font-size: 2rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}